h1{
    text-decoration: underline;
    color:black;
    font-size: 420%;
    text-align: center;
    background-color: burlywood;
}
.anal{
    width: 300px;
    height: 420px;
    border: solid 3px pink;
    margin: 0%;
    border-radius: 1000000000000000000000000000000000000px;
}
.kepek{
    text-align: center;
 text-decoration: none;
 background-color: none;
}
.cigany{
    border-radius: 30px;
    width: 519px;
    height: 340px;
}
.kugli{
    width: 690px;
    height: 690px;
border-radius: 30px;
}
.oneletrajz{
    font-weight: bold;
    text-decoration: underline;
}